14 White Flow.json
[{"id":"ab778a51.68af28","type":"tab","label":"NeoPixels","disabled":false,"info":""},{"id":"79a20bc5.d6fd94","type":"mqtt in","z":"ab778a51.68af28","name":"","topic":"Brew/test","qos":"2","datatype":"auto","broker":"ee3b2a73.10edc8","x":440,"y":40,"wires":[["e5c87b25.775d18","da703de3.456818"]]},{"id":"a1d68313.42355","type":"inject","z":"ab778a51.68af28","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["8554f9c7.ab2778"]]},{"id":"8554f9c7.ab2778","type":"mqtt out","z":"ab778a51.68af28","name":"","topic":"Brew/test","qos":"2","retain":"","broker":"ee3b2a73.10edc8","x":300,"y":40,"wires":[]},{"id":"e5c87b25.775d18","type":"rpi-neopixels","z":"ab778a51.68af28","name":"","pixels":"50","bgnd":"10,10,10","fgnd":"200,200,200","wipe":"10","mode":"pixels","rgb":"rgb","brightness":"75","gamma":true,"x":670,"y":40,"wires":[]},{"id":"4642dd3f.a300b4","type":"file in","z":"ab778a51.68af28","name":"","filename":"rainbow.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":410,"y":460,"wires":[["f91378f8.5a72e"]]},{"id":"93441e8a.b263d","type":"inject","z":"ab778a51.68af28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["fe9da3b0.0e737"]]},{"id":"7350e94f.a86258","type":"link out","z":"ab778a51.68af28","name":"","links":["82411ec3.b0571"],"x":955,"y":380,"wires":[]},{"id":"82411ec3.b0571","type":"link in","z":"ab778a51.68af28","name":"","links":["7350e94f.a86258","68f96bbf.677964"],"x":495,"y":120,"wires":[["e5c87b25.775d18","da703de3.456818"]]},{"id":"da703de3.456818","type":"debug","z":"ab778a51.68af28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":120,"wires":[]},{"id":"f91378f8.5a72e","type":"delay","z":"ab778a51.68af28","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":440,"wires":[["7350e94f.a86258"]]},{"id":"9fbf68a1.8b72e8","type":"file in","z":"ab778a51.68af28","name":"","filename":"three_col.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":410,"y":420,"wires":[["f91378f8.5a72e"]]},{"id":"b1b6957e.b2efe","type":"inject","z":"ab778a51.68af28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["6fee58aa.8e973"]]},{"id":"74707337.2f473c","type":"file in","z":"ab778a51.68af28","name":"","filename":"rainbow_cycle.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":670,"y":520,"wires":[["a679e04c.726cc"]]},{"id":"d124e2d1.31ffc8","type":"inject","z":"ab778a51.68af28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":520,"wires":[["5e2acd65.b52fd4"]]},{"id":"a679e04c.726cc","type":"delay","z":"ab778a51.68af28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":".01","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":520,"wires":[["7350e94f.a86258"]]},{"id":"54b53740.2f30c","type":"trigger","z":"ab778a51.68af28","op1":"1","op2":"1","op1type":"str","op2type":"str","duration":"-13","extend":false,"units":"s","reset":"stop","bytopic":"all","name":"","x":470,"y":520,"wires":[["74707337.2f473c"]]},{"id":"60170b9d.beba5c","type":"inject","z":"ab778a51.68af28","name":"","topic":"reset","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":560,"wires":[["6042a4e7.cc4894"]]},{"id":"acd6060f.fb993","type":"comment","z":"ab778a51.68af28","name":"Traffic Lights","info":"","x":410,"y":720,"wires":[]},{"id":"68f96bbf.677964","type":"link out","z":"ab778a51.68af28","name":"","links":["7e5021f.d61cd6","82411ec3.b0571"],"x":600,"y":800,"wires":[]},{"id":"b17cdc0.8f72e28","type":"inject","z":"ab778a51.68af28","name":"Green","topic":"","payload":"0,255,0,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":840,"wires":[["68f96bbf.677964"]]},{"id":"3f5b7213.de03be","type":"inject","z":"ab778a51.68af28","name":"Amber","topic":"","payload":"1,175,255,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":800,"wires":[["68f96bbf.677964"]]},{"id":"8568754d.7408","type":"inject","z":"ab778a51.68af28","name":"Red","topic":"","payload":"2,0,255,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":760,"wires":[["68f96bbf.677964"]]},{"id":"6fee58aa.8e973","type":"ui_button","z":"ab778a51.68af28","name":"","group":"c007d43a.03a3d","order":0,"width":0,"height":0,"passthru":true,"label":"Three Colour","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":250,"y":420,"wires":[["9fbf68a1.8b72e8"]]},{"id":"fe9da3b0.0e737","type":"ui_button","z":"ab778a51.68af28","name":"","group":"c007d43a.03a3d","order":1,"width":0,"height":0,"passthru":true,"label":"Rainbow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":240,"y":460,"wires":[["4642dd3f.a300b4"]]},{"id":"5e2acd65.b52fd4","type":"ui_button","z":"ab778a51.68af28","name":"","group":"c007d43a.03a3d","order":2,"width":0,"height":0,"passthru":true,"label":"Raimbow Go","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":250,"y":520,"wires":[["54b53740.2f30c"]]},{"id":"6042a4e7.cc4894","type":"ui_button","z":"ab778a51.68af28","name":"","group":"c007d43a.03a3d","order":3,"width":0,"height":0,"passthru":true,"label":"Raimbow Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":260,"y":560,"wires":[["54b53740.2f30c"]]},{"id":"b3f97cc6.89629","type":"ui_button","z":"ab778a51.68af28","name":"","group":"c007d43a.03a3d","order":4,"width":0,"height":0,"passthru":true,"label":"Red","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0,255,0","payloadType":"str","topic":"","x":750,"y":260,"wires":[["7350e94f.a86258"]]},{"id":"c811ee78.3b09d8","type":"inject","z":"ab778a51.68af28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":260,"wires":[["b3f97cc6.89629"]]},{"id":"1aa41126.b091bf","type":"ui_button","z":"ab778a51.68af28","name":"","group":"c007d43a.03a3d","order":5,"width":0,"height":0,"passthru":true,"label":"Green","tooltip":"","color":"","bgcolor":"","icon":"","payload":"255,0,0","payloadType":"str","topic":"","x":750,"y":300,"wires":[["7350e94f.a86258"]]},{"id":"4f82679a.f47028","type":"ui_button","z":"ab778a51.68af28","name":"","group":"c007d43a.03a3d","order":6,"width":0,"height":0,"passthru":true,"label":"Blue","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0,0,255","payloadType":"str","topic":"","x":750,"y":340,"wires":[["7350e94f.a86258"]]},{"id":"54e3eeee.b01d18","type":"ui_button","z":"ab778a51.68af28","name":"","group":"c007d43a.03a3d","order":7,"width":0,"height":0,"passthru":true,"label":"White","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200,200,200","payloadType":"str","topic":"","x":750,"y":380,"wires":[["7350e94f.a86258"]]},{"id":"174c0b8.ae41b75","type":"inject","z":"ab778a51.68af28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":340,"wires":[["4f82679a.f47028"]]},{"id":"58358405.820f24","type":"inject","z":"ab778a51.68af28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":300,"wires":[["1aa41126.b091bf"]]},{"id":"2976e25.c8b079e","type":"inject","z":"ab778a51.68af28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":380,"wires":[["54e3eeee.b01d18"]]},{"id":"578e37e6.4490d","type":"ui_button","z":"ab778a51.68af28","name":"","group":"c007d43a.03a3d","order":8,"width":0,"height":0,"passthru":true,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0,0,0","payloadType":"str","topic":"","x":750,"y":220,"wires":[["7350e94f.a86258"]]},{"id":"39f9bc9.8056544","type":"inject","z":"ab778a51.68af28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":220,"wires":[["578e37e6.4490d"]]},{"id":"ee3b2a73.10edc8","type":"mqtt-broker","z":"","name":"Rpi White","broker":"192.168.1.14","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c007d43a.03a3d","type":"ui_group","z":"","name":"NeoPixels","tab":"edbcfc44.0af588","disp":true,"width":"6","collapse":false},{"id":"edbcfc44.0af588","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]